img {
  border: 1px solid #d6dffc;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.flex {
  display: flex;
}

.nameBloc {
  align-self: center;
  padding-bottom: 15px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.editText {
  align-self: flex-start;
}
