.citiesTitle {
  color: #091945;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 20px;
}
.cityLs {
  color: #091945;
  margin: 10px;
  display: flex;
  justify-content: center;
}
