.cityList {
  display: grid;
  width: max-content;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr 3);
  grid-template-areas:
    'card1 card2 card3'
    'card4 card5 card6'
    'card7 card8 card';
}
