.cityPage {
  display: flex;
  justify-content: center;
  margin: 2% 0 5%;
  width: 98vw;
}
.cityList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3%;
}

@media only screen and (max-width: 1025px) {
  .cityList {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 600px) {
  .cityList {
    grid-template-columns: 1fr;
  }
}
