.title_modal {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  padding: 0px;
  font-size: x-large;
  color: white;
}
.ant-modal-header {
  padding: 40px 10px 40px 10px;
  background: #000428;
  background: -webkit-linear-gradient(to right, #000428, #004e92, #0091ea);
  background: linear-gradient(to right, #000428, #004e92, #0091ea);
}
.ant-modal-footer {
  padding: 15px 10px 10px 10px;
}
.input_name,
.input_message,
.input_email,
.input_city,
.input_spec {
  width: 310px;
  margin-left: 20px;
}
