.layoutHeight {
  height: 230px;
}
.firstRowMargin {
  margin-top: 25px;
}
.firstColumnMargin {
  margin-right: 100px;
}

.colMarginTop {
  margin-top: 20px !important;
}
.userIcon {
  color: #087ce7;
}

.colMargin2 {
  margin-top: -45px;
  margin-right: 100px;
}

.ant-form-item {
  width: 100%;
}
.buttonColumn {
  margin: auto;
  font-size: 15px;
  height: auto;
  border-radius: 10px;
  width: 93px;
}
