.activity-item-card {
  height: 200px;
  width: 90%;
  border-radius: 10px;
}
.tagsFontColor {
  color: gray;
}
.rating-act-size {
  font-size: 14px;
}
.activity-card-image {
  border-radius: 10px;
}
.middle-row-height {
  height: 70px;
}
.cityName {
  color: gray;
}
.learnMore {
  color: gray;
  display: flex;
}
.learnMore:hover {
  transition: 0.1s;
  color: #0091ea;
}
.double-ar-right {
  font-size: small;
  line-height: -10;
}
