.hiremeform {
  padding: 20px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.hireMe-div {
  display: grid;
  grid-template-columns: 30% 30%;
  grid-gap: 50px;
  width: 100%;
  justify-content: center;
}
.site-config-provider-calendar-wrapper {
  border: solid 1px whitesmoke;
  width: 100%;
}

.ant-picker-panel {
  width: 100%;
}
.ant-picker-calendar .ant-picker-calendar-mini {
  margin: auto;
  width: 100%;
}
.ant-form-item .ant-select,
.ant-form-item .ant-cascader-picker {
  width: 0px;
}
.cities_select {
  color: black;
  width: 70% !important;
}
.ant-select-selection-item {
  color: black;
}
.ant-form-item-required,
.ant-form-item-label > label {
  width: 110px !important;
}
.send-btn {
  align-self: center;
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  height: auto;
  border-radius: 10px !important;
}
@media only screen and (max-width: 1020px) {
  .hireMe-div {
    display: grid;
    grid-template-columns: auto;
  }
  .calendar-div {
    order: 2;
  }
}
