.cardSize {
  width: 87%;
  height: 10%;
  display: flex;
}
.imgProp {
  height: 200px;
  width: 241.65px;
}
.col-align {
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-between;
}
.icon-size {
  font-size: 30px;
}
.icon-size:hover {
  cursor: pointer;
}
.skeleton-container {
  align-self: flex-start;
  width: 100%;
}
.skeleton {
  margin-top: 7px;
  width: 50%;
}
.skeleton-small {
  margin-top: 5px;
  width: 80%;
}
.description {
  margin-top: 5px;
  width: 1000px;
}
