* {
  box-sizing: border-box;
}
.container {
  position: relative;
}
.cursor {
  cursor: pointer;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  height: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.close-icon:hover {
  color: blue !important;
}
.row:after {
  content: '';
  display: table;
  clear: both;
}
.row {
  margin: auto;
  height: 20%;
}
.column {
  float: left;
  width: 16.66%;
}

.demo {
  opacity: 0.8;
}
.demo:hover {
  opacity: 1;
}
.ant-modal-content {
  background-color: transparent;
  height: 100vh;
  width: 50vw;
  margin: auto;
}
.big-pic-row {
  margin: auto;
  height: 80%;
}
.column {
  width: 20%;
  margin: 0px;
}
.row {
  height: 25%;
  margin: auto;
  padding-left: 0px;
}
.small-pic {
  padding-top: 3px;
  padding-bottom: 3px;
  max-width: 125px;
  min-height: 125px;
}
img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.ant-modal-footer {
  border-top: none;
}
.ant-modal-body {
  padding-bottom: 0px;
  padding: 10px;
  height: 100vh;
}
.container {
  height: 100%;
}
Modal {
  height: 100vh;
}
img.demo.small-pic.cursor {
  height: 100%;
}
span:hover {
  color: blue;
  cursor: pointer;
}
@media only screen and (max-width: 1000px) {
  .ant-modal-content {
    background-color: transparent;
    height: 100vh;
    width: 75vw;
    margin: auto;
  }
}
@media only screen and (max-width: 600px) {
  .ant-modal-content {
    background-color: transparent;
    height: 50vh;
    width: 100vw;
    margin: auto;
  }
}
