.logo {
  width: 50px;
}

.logo:hover {
  cursor: pointer;
}

#navbar-header-style {
  color: #001c84;
  display: flex;
  flex-direction: row;
  background: white;
  border-bottom: 1px solid #f0f0f0;
}

.headerStyleCenter {
  font-size: 15px;
  display: flex;
  justify-content: center;
  width: 70%;
}
.headerStyleCenter .navbar-items {
  color: #001c84;
}
.languages-toggle-lr {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  /* border-bottom: 1px solid #f0f0f0; */
  width: 15%;
  color: #001c84;
}
.left-part {
  display: flex;
  justify-content: center;
}
#langButton {
  margin: 0 15px;
}
.barsMenu {
  display: none;
}
.middle-nav {
  display: flex;
  justify-content: center;
  width: 70%;
}
@media (max-width: 770px) {
  .barsMenu {
    display: block;
    margin-top: 9px;
  }
  .headerStyleCenter {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .middle-nav {
    display: none;
  }
  #navbar-header-style {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: white;
  }
  .sign-in-btn {
    display: none;
  }
  .left-part {
    display: flex;
    justify-content: space-evenly;
  }
}
