.flex-align {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  gap: 20px;
}

.img-properties {
  width: 380px;
  height: 230px;
}

.texts-align {
  text-align: center;
}
