.selectBox {
  border-color: transparent;
  background-color: transparent;
  padding-left: 20px;
  margin-left: 10px;
  width: 50%;
  outline: none;
}
.ant-select-selector.ant-select-selector.ant-select-selector {
  border: 1px solid white 0.6;
  border-radius: 50px;
  background-color: transparent;
  color: black;
}

button {
  border-color: transparent;
  background-color: transparent;
  border-radius: 70px;
  width: 50px;
  outline: none;
}

.search-box {
  background-color: rgb(249, 249, 249, 0.6);
  padding: 5px;
  width: 75%;
  margin: auto;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-inputs {
  width: 90%;
  display: flex;
  justify-content: space-around;
}
