.single-act-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.back-btn {
  align-self: flex-start;
}
.grid-view {
  margin-top: 2ch;
  height: 70ch;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  -webkit-box-shadow: 0 30px 20px #f1f3f4;
  -moz-box-shadow: 0 30px 20px #f1f3f4;
  box-shadow: 0 30px 20px #f1f3f4;
}

.left-side-grid {
  display: flex;
  flex-direction: column;
  padding: 6%;
  justify-content: space-between;
}
.header {
  display: flex;
  flex-direction: column;
}
.header-child-1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: -20px;
}
.header-child-2 {
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
  color: rgb(177, 176, 176);
  font-size: 15px;
}

.left-grid-description {
  font-size: large;
}
.left-grid-tour-guide {
  display: flex;
  flex-direction: column;
  height: 25%;
  align-self: center;
}
.iconStyle {
  width: 50px;
}
.icon-text {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hire-box {
  text-align: center;
  border: 1px solid #f1f3f4;
  padding: 25px;
  width: 400px;
  border-radius: 10px;
}
.hire-btn {
  height: 30px;
}
