.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.about-us-page-titles {
  font-size: 40px;
}
.about-us-paragraph {
  width: 40vw;
}
.why-we-didit-container-hr {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 4%;
  margin-bottom: 4%;
}
.why-we-didit-container-title {
  padding-top: 2%;
  align-self: center;
  width: 75%;
}
.why-we-didit-container {
  padding: 3%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6vw;
  grid-template-areas: '1 2 3';
}
.grid-area-1 {
  grid-area: 1;
}
.grid-area-2 {
  grid-area: 2;
}
.grid-area-3 {
  grid-area: 3;
}
.why-title {
  padding-bottom: 30px;
}
.hr-style {
  width: 80%;
  border-top: #f0f0f0;
}
.about-team-members-container {
  align-self: center;
}
.about-team-members {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.part4-feedback {
  margin-top: 90px;
}
.about-us-page-titles {
  color: #001c84;
}
@media (max-width: 600px) {
  .why-we-didit-container {
    grid-template-columns: 1fr;
    grid-template-areas: '1' '2' '3';
  }
  .about-team-members {
    grid-template-columns: 1fr;
  }
}
