.col-btn-takeMe {
  margin: auto;
}
.btn-takeMe {
  font-size: 15px;
  height: auto;
  border-radius: 10px;
  width: auto;
}
.col-title-takeMe {
  margin: auto;
}
.Row-1 {
  margin: 20px;
  width: 50%;
}
