.homePage {
  display: flex;
  flex-direction: column;
}
.under {
  width: 100%;
  background: #fff;
}
.hiddenGems h1 {
  display: flex;
  align-items: flex-start;
  margin: 32px 0 32px 12%;
  width: 75%;
}
.gemCards {
  margin-bottom: 50px;
}
.act {
  margin: 0 0 5% 0;
}
.cities {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cityHeader {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 30px 0;
}
.citysCard {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 76%;
}
.ant-carousel .slick-dots li {
  background: black;
}
.cityCarousel {
  margin: 0 10%;
}
.teamCarousel {
  margin: 2% 0;
}
.ant-carousel .slick-prev,
.ant-carousel .slick-next {
  color: unset;
  font-size: unset;
  color: rgb(12, 12, 12);
  height: 20px;
  width: 50px;
}
.ant-carousel .slick-next svg,
.ant-carousel .slick-prev svg {
  width: 2em;
  height: 2em;
}
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
  color: unset;
}
